<section class="greeting">
    <img class="greeting__photo" alt="Ivan Shalin photo" src="/images/photo.header.jpg">
    <div class="greeting__text-block">
        <h2 class="greeting__title">Hi, I'm Ivan Shalin</h2>
        <p class="greeting__text">a frontend developer. It's my personal blog. Here you can find some thoughts about technologies I am working with</p>
    </div>
</section>