<header class="header">
    <a href="/" class="header__home-link">
        <span itemscope itemtype="https://schema.org/Person">
            <span itemprop="givenName">{{ site.author.firstName }}</span>
            <span itemprop="familyName">{{ site.author.secondName }}</span>
        </span>
    </a>

    <nav class="site-nav">
        <ul class="site-nav__list">
            <li class="site-nav__item">
                <a href="/">Blog</a>
            </li>
        </ul>
    </nav>
</header>