.article-snippet__title {
    margin: 0 0 var(--quater-line-space) 0;
}

.article-snippet__link {
    color: var(--color-accent);
    text-decoration: none;
}

.article-snippet__text {
    margin-top: var(--quater-line-space);
}

.article-snippet__meta {
    font-size: 0.8em;
    display: flex;
}

.article-snippet__meta > :not(:last-child)::after {
    display: inline-block;
    padding: 0 0.5em;
    content: '·';
}
