.home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.home-link__photo {
    height: calc(var(--line-height) * 2em);
    width: calc(var(--line-height) * 2em);
    border-radius: 50%;
    margin-right: 0.8em;
}

.home-link__text {
    color: var(--color-text);
    text-decoration: none;
    font-size: calc(var(--font-size) * 1.1);
}